<!-- Main Content -->
<div id="content" role="main">
    <section class="section alt" id="promo">
        <div class="map-top-shadow"></div>
        <div id="map"></div>
        <div class="map-bottom-shadow"></div>
    </section>
    <section class="section">
        <div class="container">
            <div class="page-header">
                <h1>
                    We like talking
                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
                </h1>
            </div>
            <div class="row-fluid">
                <div class="span6 span-false">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                    <ul class="icons">
                        <li>
                            <p><i class="icon-home"></i>Some st, Somewhere
                            </p>
                        </li>
                        <li>
                            <p><i class="icon-phone"></i>+800100200300
                            </p>
                        </li>
                        <li>
                            <p><i class="icon-envelope"></i>info@@something.com
                            </p>
                        </li>
                        <li>
                            <p><i class="icon-globe"></i>www.something.com
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="span6 span-false">



                     <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input class="input-xlarge" id="name" type="text" name="name" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <input class="input-xlarge" id="email" type="text" name="email"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="subject">Subject</label>
                            <div class="controls">
                                <input class="input-xlarge" id="subject" type="text" name="subject"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="message">Your message</label>
                            <div class="controls">
                                <textarea class="input-xlarge" id="message" rows="3" name="message"></textarea>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-primary" type="submit">Send email</button>
                            </div>
                        </div>


                    </fieldset>
                     </form>




                </div>
            </div>
        </div>
    </section>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        //<![CDATA[
        // Call the google map
        //mapInit();
        // Handler for .ready() called.
        mapInit();
        //]]>
    </script>
</div>