
<!-- Main Content -->
<div id="content" role="main">

    <section id="promo" class="section alt">
        <div class="container">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <div class="row-fluid">
                            <div class="span7">
                                <div class="hero-unit">
                                    <h1> We are Awesome.</h1>
                                    <p>
                                        We help businesses understand and utilise the awesomeness of the internet by avoiding jargon and buzz-words.

                                    </p>
                                </div>
                            </div>
                            <div class="span5">
                                <img src="images/assets/imac.png" alt="imac" class="pull-right">
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span4">
                                <div class="well">
                                    <h3>
                                        Strategy & Consulting
                                    </h3>
                                    <p>
                                        With decades of experience in high-technology global deployments, we are best placed to help you align your technology strategy.
                                    </p>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="well">
                                    <h3>
                                        Buzzword Free
                                    </h3>
                                    <p>
                                        Tired of buzzwords, confused by clouds? The only clouds we talk about are Cumulus and Stratus. Let us do the dirty work for you.
                                    </p>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="well">
                                    <h3>
                                        Independent
                                    </h3>
                                    <p>
                                        We are not here to judge your business, only to improve your process so you can reap the rewards. As independents, we are on your side to wade through the complex IT landscape.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row-fluid">
                            <div class="span7">
                                <div class="hero-unit">
                                    <h1> We Make Awesome Stuff. </h1>
                                    <p>
                                        We build for mobile and web and everything in-between. Do you want to tweet from your car? We can build that. In fact, we already did.
                                    </p>
                                    <p>
                                        We are a full stack developers and we are here to help you ship working code.
                                    </p>
                                </div>
                            </div>
                            <div class="span5">
                                <img src="images/assets/iphone.png" alt="imac" class="pull-right">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row-fluid">
                            <div class="hero-unit pull-center">
                                <h1>
                                    We have Awesome Neckbeards.
                                </h1>
                                <p>
                                    We started life as linux geeks, let us help you leverage the power of the penguin.
                                </p>

                                <p> We love opensource, we preach opensource and contribute to opensource.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>

        </div>
    </section>



    <section class="section">
        <div class="container">
            <div class="page-header">
                <h1>
                    What we do? <small> Technology</small>
                </h1>
            </div>
            <div class="row-fluid">
                <ul class="thumbnails bordered pull-center">
                    <li class="span3">
                        <h3>
                            <i class="icon-beaker huge-icon"></i>
                            <span class="blocked">Mobile & Web Applications</span>
                        </h3>
                        <p>
                            We are mobile and web experts. We can help you have a presence in the iPhone, Blackberry or Android Market. We also build web based applications for the truly global reach.
                        </p>
                    </li>
                    <li class="span3">
                        <h3>
                            <i class="icon-bullhorn  huge-icon"></i>
                            <span class="blocked">Development & Training</span>
                        </h3>
                        <p>
                            Do you have a long-term vision? We can train your technical staff on the latest technology stacks. We do Android, iOS and Blackberry training. We also train Ruby, Python, C++, HTML5, Javascript and Java.
                        </p>
                    </li>
                    <li class="span3">
                        <h3>
                            <i class="icon-signal huge-icon"></i>
                            <span class="blocked">Operations</span>
                        </h3>
                        <p>
                            We are experts on Linux and Unix infrastructure using commodity hardware. We have deployed servers globally, with 99% uptime. Our longest running server is 675 days without any downtime.
                        </p>
                    </li>
                    <li class="span3">
                        <h3>
                            <i class="icon-magnet huge-icon"></i>
                            <span class="blocked">RealTime Communications</span>
                        </h3>
                        <p>
                            We are experts in real-time web and mobile, with over a decade and a half experience in helping companies of all sizes deliver innovative digital products to the market.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="section alt">
        <div class="container">
            <div class="page-header">
                <h1>
                    Who We Have worked With <small> Partners and Customers </small>
                </h1>
            </div>

        </div>
    </section>

</div>


